{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'face_recognizer_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'face_recognizer_app/css/style.css' %}">

    <title>Automated Authentication Using Face Recognition</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'face_recognizer_app:index'%}">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_manager_app:logout'%}">Logout</a>
          </li>
    
          {% else %}
    
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_manager_app:login'%}">Login</a>
          </li>
    
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'face_recognizer_app:add_photos'%}">Train</a>
          </li>
        </ul>
      </div>
    </nav>
   
      <div class="container">
        <h1 class="display-4 text-center mb-5"> Automated Authentication System Using Face Recognition</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                      <h2 class="text-center dash-title">Mark Attendance</h2>
                      <img width="180" height="180" style="display: block; margin: auto;" class="home_images" src="{% static 'face_recognizer_app/images/mark_attendance.svg' %}">
                      <a href="{% url 'face_recognizer_app:attendance'%}" class="btn btn-outline-success btn-block">Mark Attendance</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                      <h2 class="text-center dash-title">Register</h2>
                      <img width="180" height="180" style="display: block; margin: auto;" class="home_images" src="{% static 'face_recognizer_app/images/register.svg' %}">
                      <a href="{% url 'user_manager_app:register'%}" class="btn btn-outline-warning btn-block">Register</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                      <h2 class="text-center dash-title">View Report</h2>
                      <img width="180" height="180" style="display: block; margin: auto;" class="home_images" src="{% static 'face_recognizer_app/images/report.svg' %}">
                      <a href="{% url 'face_recognizer_app:view_attendance'%}" class="btn btn-outline-danger btn-block">View</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                      <h2 class="text-center dash-title">Support</h2> 
                      <img width="180" height="180" style="display: block; margin: auto;" class="home_images" src="{% static 'face_recognizer_app/images/help.svg' %}">
                      <a href="{% url 'face_recognizer_app:support'%}" class="btn btn-outline-primary btn-block">Support</a>
                    </div>
                  </div>
            </div>
        </div>

        <h3 class="text-center mt-2">Departement of Computer Science & Application, B.S.A.C.E.T</h3>

      </div>
    

    <script src="{% static 'face_recognizer_app/js/jquery.js' %}"></script>
    <script src="{% static 'face_recognizer_app/js/bootstrap.bundle.min.js' %}"></script> 

   
  </body>
</html>
