{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'face_recognizer_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'face_recognizer_app/css/style.css' %}">

    <title>Automated Authentication Using Face Recognition</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AASUFR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome, {{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_manager_app:logout'%}">Logout</a>
            </li>
      
            {% else %}
      
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_manager_app:login'%}">Login</a>
            </li>
      
            {% endif %}
          </ul>
        </div>
      </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 text-center">Help & Support</h1>
        </div>
      </div>
   
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Related Category</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                        <option>Forgot Password</option>
                        <option>Can not Register</option>
                        <option>Can not Login</option>
                        <option>Face Recognition Not Working!</option>
                        <option>Other</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Please Describe Your Problem In Detail</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Please Upload Your Appropriate Identity Proof</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>  
              </div>
              <div class="col-md-6">
                <img  style="display: block; margin: auto;" class="img-fluid mt-2" src="{% static 'face_recognizer_app/images/support.svg' %}">
              </div>
          </div>
        
      </div>
    

    <script src="{% static 'face_recognizer_app/js/jquery.js' %}"></script>
    <script src="{% static 'face_recognizer_app/js/bootstrap.bundle.min.js' %}"></script> 

   
  </body>
</html>
