{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'face_recognizer_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'face_recognizer_app/css/style.css' %}">

    <title>Automated Authentication Using Face Recognition</title>
  </head>
  <body>

    {% load crispy_forms_tags %}  
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 text-center">Register New User</h1>
        </div>
      </div>
   
      <div class="container">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
          <div class="row">
              <div class="col-md-6">
                <form method="post">
                  {% csrf_token %}
                  {{register_form|crispy}}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Full Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1">
                      </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Course</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>B.tech</option>
                          <option>MCA</option>
                          <option>MBA</option>
                          <option>Polytechnic Diploma</option>
                          <option>D.Pharma</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Branch</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Computer Science Engineering</option>
                          <option>Electrical Engineering</option>
                          <option>Electronics Engineering</option>
                          <option>Civil Engineering</option>
                          <option>Mechanical Engineering</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Semester</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary btn-block">Submit</button>

                    </div>
                    
                  </form> -->
                  
              </div>
              <div class="col-md-6">
                <img  style="display: block; margin: auto;" class="img-fluid mt-2" src="{% static 'user_manager_app/images/register.svg' %}">
              </div>
          </div>
        
             </div>
    

    <script src="{% static 'face_recognizer_app/js/jquery.js' %}"></script>
    <script src="{% static 'face_recognizer_app/js/bootstrap.bundle.min.js' %}"></script> 

   
  </body>
</html>
